<html>
<head>
<title>Update Client</title>
<script>  
 var app = angular.module('user', []);  
 app.controller('ctrlName', function($scope) {  
  $scope.names = ['Flipkart','Amazon','SAP','Oracle','Panasonic','HP','Apple','Test','Sample'];  
 });  
   </script>
</head>
<body style="text-align:center;">
<h1>Update Client</h1>
<form>
<br>
<br>
<table style="width:100%; margin:1em">
<tr>
<td>
</td>
<td>
<div class="sample" ng-controller="ctrlName">
Client/Account Name:  
  <select ng-model="name" ng-multiple="true">
            <option></option>
             <option>Flipkart</option>
             <option>Amazon</option>
             <option>SAP</option>
             <option>Oracle</option>
             <option>Panasonic</option>
             <option>HP</option>
             <option>Apple</option>
             <option>Test</option>
             <option>Sample</option>
         </select>   
   </div>  
   </td>
    <td>
    <input type="radio" name="Active" ng-model="active" value="active" checked>Active
    <input type="radio" name="Active" ng-model="active" value="inactive">Inactive
    <br>
    <br>
    </td>
    </tr>
<br>
<tr>
<td/>
<td>
Hosting Type:  
<input type="radio" name="hostingtype" value="onpremise">On-Prem
<input type="radio" name="hostingtype" value="saas"> SaaS
<br>
<br>
</td>
</tr>

	<tr>
		<td>Industry:  <br></td>
		<td><select>
		<option></option>
			<option value="Test1">Test1  </option>
			<option value="Test2">Test2  </option>
		</select><br></td>
		<td>Back-end System:  <br></td>
		<td><select>
		<option></option>
			<option value="Test3">Test1  </option>
			<option value="Test4">Test2  </option>
		</select><br></td>
	</tr>
	<tr>
		<td>Geography/IOT/GMU:  <br></td>
		<td><select>
		<option></option>
			<option value="Test5">Test1  </option>
			<option value="Test6">Test2  </option>
		</select><br></td>
	</tr>
	<tr>
		<td>Region/IMT/GMT:  <br></td>
		<td><select>
		<option></option>
			<option value="Test7">Test1  </option>
			<option value="Test8">Test2  </option>
		</select><br></td>
		<td>EDI Standards Used:  <br></td>
		<td><select>
		<option></option>
			<option value="Test9">Test1  </option>
			<option value="Test10">Test2  </option>
		</select><br></td>
	</tr>
	<tr>
		<td>Location:  <br></td>
		<td><input size=30><br></td>
		<td>URL for Solution Manual:  <br></td>
		<td><input size=30><br></td>
	</tr>
	<tr>
		<td><br></td>
		<td><br></td>
		<td>Link in RTC (if available)  <br></td>
		<td><input size=30><br></td>
	</tr>
	<tr>
    <td>
    Lifecycle of the Client:
    </td>
    <td>
    <input type="radio" name="lifecycle" ng-model="lifecycle" value="implementation">Implementation
    <br>
    <input type="radio" name="lifecycle" ng-model="lifecycle" value="migration">Migration
    <br>
    From<input type="date" />
    To<input type="date" />
    <br>
    <input type="radio" name="lifecycle" ng-model="lifecycle" value="product enhancement/support">Product Enhancement/Support
    </td>
    <td>Third Party systems involved  </td>
    <td><select>
    <option></option>
    	<option value="Test7">Test14  </option>
		<option value="Test8">Test15  </option>
		</select><br></td>
	</tr>
	<tr>
    <td>
    ICN #:
    </td>
    <td>
    <input type="text" name="icn" size="20">
    </td>
    </tr>
</table>

<button type="button">Create</button>
<button type="button" onclick="location.href = 'updateclient.html';">Reset</button>
<br>
<br>
<button type="button" onclick="location.href = 'adminstart.html';">Back</button>
</form>
</body>
</html>
