<html>
<title>Master Data</title>
<body style="text-align:center;">
<h1>Master Data</h1>
<form>
Geography/IOT/GMU:
<select ng-model="geography">
      <option></option>
      <option>A</option>
      <option>B</option>
    </select>
<br>
<br>
<input type="text" name="geo" size="20">
<br>
<br>
<button type="button" name="add1">Add</button>
<button type="button" name="delete1">Delete</button>
<br>
<br>
Industry:
<select ng-model="industry">
      <option></option>
      <option>A</option>
      <option>B</option>
    </select>
<br>
<br>
<input type="text" name="ind" size="20">
<br>
<br>
<button type="button" name="add2">Add</button>
<button type="button" name="delete2">Delete</button>
<br>
<br>
EDI standards:
<select ng-model="edistd">
      <option></option>
      <option>A</option>
      <option>B</option>
    </select>
<br>
<br>
<input type="text" name="edi" size="20">
<br>
<br>
<button type="button" name="add3">Add</button>
<button type="button" name="delete3">Delete</button>
<br>
<br>
<button type="button" onclick="location.href = '/admin';">Back</button>
</form>
</body>
</html>