<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<table> 
<tr>Client/Account Name</tr>
{{info.name}}
<tr>ICN #</tr>
{{info.icn}}
<tr>Hosting Type</tr>
{{info.hostingtype}}
<tr>Industry</tr>
{{info.industry}}
<tr>Geography/IOT/GMU</tr>
{{info.geography}}
<tr>Region/IMT/GMT</tr>
{{info.region}}
<tr>Location</tr>
{{info.location}}
<tr>EDI Standards Used</tr>
{{info.edi}}
<tr>Lifecycle of the client</tr>
{{info.lifecycle}}
<tr>Link to Solution Manual</tr>
{{info.solution}}
<tr>Link in RTC</tr>
{{info.rtc}}
<tr>Third Party Systems Involved</tr>
{{info.thirdparty}}
</table>
</body>
</html>