<html ng-app="postExample">
<title>Search</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>  
<script src="C:/Users/Mahe/backend test/test/public/javascripts/usersController.js"></script>
    <script src="C:/Users/Mahe/backend test/test/public/javascripts/userRepoService.js"></script>
  <!-- <script>  
 var app = angular.module('user', []);  
 app.controller('ctrlName', function($scope) {  
  $scope.names = ['Flipkart','Amazon','SAP','Oracle','Panasonic','HP','Apple','Test','Sample'];  
 });  
   </script>-->
   <!--<script type="text/javascript">
       // Wrapper function to retrieve a product
// from the server, keyed on productId.
apiProduct.lookup(productId, function(product) {
    $scope.product = product;
 
    // Replace the server-supplied lookup value
    // with the matching value
    // in the $scope.units array.
    $scope.product.uom = lookup_by_code(product.uom.name, $scope.clients);
});
 
function lookup_by_code(code, data) {
    for(var i=0; i
        if(data[i].name == name)
            return data[i];
 
    return null;
};
   </script>-->
    <body ng-app="user" style="text-align:center;" ng-controller="UsersController"> 
 <h1>Search</h1>
    <form method="POST" action="/admin/searchclient">
    <table id="abc" style="width:100%">
    <tr>
    <td/>
    <td>
    <!--<div class="sample" ng-controller="ctrlName">-->
    Client/Account Name:       
    <select id="UserSelector" style="width: 100%;">
      <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
    </select>
    <!--</div>   -->
    </td>
    <td>
    <input type="radio" name="Active" value="active">Active
    <input type="radio" name="Active" value="inactive">Inactive
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <br>
    <br>
    </tr>
    <tr>
    <td>
    Hosting type:
    <br>
    <br>
    </td>
    <td>
    <input type="radio" name="hostingtype" value="onpremise">On-Prem
    <input type="radio" name="hostingtype" value="saas">SaaS
    <br>
    <br>
    </td>
    <td>
    Industry:
    <br>
    <br>
    </td>
    <td>
    <select name="industry">
      <option value=""></option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Geography/IOT/GMU:
    <br>
    <br>
    </td>
    <td>
    <select name="geography">
      <option value=""></option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
    <br>
    <br>
    </td>
    <td>
    Region/IMT/GMT:
    <br>
    <br>
    </td>
    <td>
    <select name="region">
      <option value=""></option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Location:
    <br>
    <br>
    </td>
    <td>
    <input type="text" name="location" size="20">
    <br>
    <br>
    </td>
    <td>
    EDI Standards used:
    <br>
    <br>
    </td>
    <td>
    <select name="edi">
      <option value=""></option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Lifecycle of the Client:
    </td>
    <td>
    <input type="radio" name="lifecycle" value="implementation">Implementation
    <br>
    <input type="radio" name="lifecycle" value="migration">Migration
    <br>
    From<input type="date" name="fromdate" />
    To<input type="date" name="todate" />
    <br>
    <input type="radio" name="lifecycle" value="product enhancement/support">Product Enhancement/Support
    </td>
    <td>
    ICN #:
    </td>
    <td>
    <input type="text" name="icn" size="20">
    </td>
    </tr>
    </table>
    <br>
    <br>
    <button type="submit" ng-click="submit()">Go</button>
    </form>
  </body>
</html>
